.card {
        transition: all linear;
        -webkit-transition: all linear;
        -moz-transition: all linear;
        -ms-transition: all linear;
        -o-transition: all linear;
        box-shadow: unset;
}




.card:hover {
        border-color: #0AAD0A;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
        transform: scale(102%, 102%);
        -webkit-transform: scale(102%, 102%);
        -moz-transform: scale(102%, 102%);
        -ms-transform: scale(102%, 102%);
        -o-transform: scale(102%, 102%);
}

.overlay {

        /* background-color: rgba(0, 0, 0, 0.2); */
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        z-index: 99999;


}

.card_upper:hover .overlay {
        opacity: 1;

}

.ico_container {
        background-color: rgb(248,249,250);
        color: rgba(0, 0, 0, 0.5);
        padding: 0.2rem 0.5rem;

}

.ico_container:hover {
        color: white;
        background-color: #0AAD0A;
}

       