 .form_input{
         background: 0 0;
         border: 1px solid var(--fc-gray-200);
         height: 100%;
         min-height: 2.5rem;
         text-align: center;
         width: 2rem !important;
         padding: 0.7rem 0;
         appearance: text;
 }
 .form_input::-webkit-outer-spin-button,
 .form_input::-webkit-inner-spin-button {
         -webkit-appearance: none;
         margin: 0;
 }