@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700;900&display=swap');


nav , footer{
  background-color: #eee;
}

body{
  background-image: url('./Assets/light-patten.svg');
  font-family: 'Montserrat Alternates', sans-serif;
}
.pointer{
  cursor: pointer;
}